.acss-readable-container
  markdown:
    # Quickstart
    ## Create your first panel

    (Must be logged in) To create your first panel, simply click the "+" to the right of "My Panels".

    This will create a new panel with the default title of "New Panel." You can edit this panel by
    hovering over its name in the sidebar and clicking the edit button. To finish editing, simply click
    away or hit enter.
