$metal: #394956 // TODO: DEPRECATE

// 8 point Greyscale
$white:          #fff     // 1
$lightest-gray:  #f5f5f5  // 2, default off white
$lighter-gray:   #d4d4d4  // 3
$light-gray:     #bbb     // 4
$gray:           #a1a1a1  // 5
$dark-gray:      #7f7f7f  // 6
$darker-gray:    #5d5d5d  // 7
$darkest-gray:   #333     // 8

$black:          #627D8C // Text colors

// Colors
$blue:           #40A9E6 // Buttons
$dark-blue:      #4199CC // Lab95 heading

$yellow:         #FFEE6E // Notifications

$green:          #57C864 // ?

body
  background: transparent

// TODO: Move to default application.css
.acss-status
  z-index: 99999
