*
  box-sizing: border-box

html
  font-family: 'proxima-nova', 'Helvetica Neue', helvetica, sans-serif
  // background-color: hsl(89, 50%, 27%)

body
  font-size: 1rem

  h1, h2, h3, h4, h5
    font-family: 'proxima-nova-condensed'

.acss-navbar
  ul
    &:first-child
      li
        &:first-child
          a
            img
              display: inline-block
              margin-right: 4px
              height: 20px
              vertical-align: top
