*
  box-sizing: border-box

html
  font-size: 16px
  font-family: 'proxima-nova', 'Helvetica Neue', helvetica, sans-serif
  background-color: hsl(89, 50%, 27%)

body
  font-size: 1rem

.acss-sidebar
  input[type="text"]
    border: 0px
    background: transparent
    padding: 5px 15px
    width: 100%

    &:hover
      background: rgba(255, 255, 255, 0.1)

    &:focus
      background: white
      color: #333
      outline: 0px

  h1
    font-family: 'proxima-nova-condensed'
    text-transform: uppercase
