@import base
@import typography

.panel
  ul
    padding: 0
    margin: 0
    list-style: none

    li
      border:
        bottom: 1px solid $lighter-gray
      padding: 5px
      position: absolute
      z-index: 2
      background: white
      cursor: move

      h1, input[type=text]
        +heading_xs
        font-weight: bold
      
      input[type=text]
        $leftPadding: 5px
        border-color: transparent
        margin:
          left: -$leftPadding
          bottom: 15px
        padding-left: $leftPadding

        &:hover
          border-color: $lighter-gray

      &.player
        z-index: 9
        box-shadow: -1px 1px 7px $metal

      &.preview-holder
        background-color: lighten($metal, 60%)

  .widget
    border:
      bottom: 1px solid $lighter-gray
    padding: 15px
    margin-bottom: 15px

    &[disabled]
      background: $lightest-gray
